<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUlmZ4WiL7qs39K5dq2eo5-X4isIvAVAY</string>
	<key>GCM_SENDER_ID</key>
	<string>262983373970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.narkinc.lapuertaapp</string>
	<key>PROJECT_ID</key>
	<string>fir-lapuerta</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-lapuerta.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262983373970:ios:3ed1db1f50c8f5759a024b</string>
	<key>DATABASE_URL</key>
	<string>https://fir-lapuerta-default-rtdb.firebaseio.com</string>
</dict>
</plist>